
<h2 class="dash-title">Your Dashboard</h2>
<section>
  <form class="new-post-form">
    <div class="title">
      <h2>Create Post</h2>
    </div>
    <div class="form-content">
      <label for="post-title">Title</label><br />
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div class="form-content">
      <label for="post-text"> Post</label>
      <textarea class="content-body" id="post-text" name="post-text"></textarea>
    </div>
    <button type="submit" id="new" class="btn">Create New post</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>