<article class="post">
  <div class="title">
    <h2>{{post.title}}</h2>
  <span>
    by
    {{post.user.username}}
    on
    {{format_date post.created_at}}
    

  </span>
  </div>
  <div class="post-text">{{post.post_text}}</div>
  
</article>
{{#if loggedIn}}
  <form class="comment-form">
    <div>
      <textarea class="comment-body" name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit" class="btn">Add Comment</button>

    </div>
  </form>
{{/if}}

<h3 class="comments-title">Comments</h3>
{{> comments post.comments}}

{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
{{/if}}